{% include "topmenu.html" %}
  
 <br><br><br>

    <h1>About Us</h1>
    <div style="min-height:400px;width:100%;margin:0 auto; padding:10px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur animi voluptatibus cum maxime distinctio
      iste quod deleniti eius, autem voluptates cumque suscipit iure quasi eligendi ullam. Sapiente eligendi porro
      reprehenderit corrupti error facilis quo, fugiat fugit? Maiores aliquam ad, molestiae iste nihil, commodi
      doloremque tempore excepturi aut id ducimus unde?
    </div>
    
  


{% include "footer.html" %}
   
   
   
   
